nav{
    background-color: rgb(5, 39, 39);
    width: 100%; 
}

.dropdown-menu{
    background-color: rgba(5, 39, 39, 0.925);
    
}
.dropdown-item
{
    color: white !important;
}
.dropdown-item:hover{
    color:black !important;
}

.icon{
    width: 80px;
}

.icon2{
    width: 80px;
}

.nav-item
{
  margin-left: 15px;
}

.nav-item a{
  color :rgb(214, 214, 214) !important;
  font-weight: bold;
}

.nav-item a:hover{
    color :rgb(209, 154, 3) !important;
}