<section class="container" *ngIf="this.loginService.isLogged() == 'coach'">

    <section class=" fon container">
        <div class="col-12 row">
            <div class="col-10 mx-auto table-responsive text-center mt-5 px-md-5">
                <table class="col-12 table table-hover" [mfData]="coachs" #mf="mfDataTable" [mfRowsOnPage]="5">
                    <thead class="col-12">
                        <tr class="col-12">
                            <th>#</th>

                            <th>
                                <mfDefaultSorter by="dni">DNI</mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter by="name">Name</mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter by="surname">Surname</mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter by="email">Email</mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter by="Birth Date">Birth Date</mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter><div class="col-12 mx-auto">
                                    <button class="col-12 btn btn-primary" (click)="addNewCoach()">Add new Coach</button>
                                </div></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of coachs index as i">
                            <th>{{i+1}}</th>
                            <td>{{item.dni}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.surname}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.birth_date | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <button class="col-12 btn btn-success my-1" (click)="updateCoach(item)">update</button>
                                <button class="col-12 btn btn-danger my-1" (click)="deleteCoach(item._id)">delete</button>
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
    <section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'coach'">
        <h1 class="col-12">PAGE NOT FOUND</h1>
        <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
        <img class="col-12 img-block" src="../../../../../assets/seguridad.jpg" alt="seguridad">
    </section>
