* {
    padding: 0;
    margin: 0%;
}

*:focus {
    outline: none;
}

.red {
    outline: red 1px solid;
}

.blue {
    outline: blue 1px solid;
}


/********************Input********************/

input {
    border: none;
    color: #0d0d0d;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
}

input:focus {
    border-width: 2px;
    border-color: #39ace7;
}


/********************Label********************/

label {
    color: #808080;
}


/********************Button********************/

button {
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    background: #39ace7;
}

button:hover {
    background-color: #39ace7;
}

button:active {
    transform: scale(0.97);
}
