section > * {
  padding: 0%;
  margin: 0%;
}

*:focus {
  outline: none;
}

.contenedor{
  background-color: rgba(161, 192, 194, 0.733);
  border-radius: 20px 20px 20px 20px;
  border: 2px solid rgb(0, 0, 5);
}

aside button:hover{
 background-color: rgb(70, 143, 189);
}

.container-pay{
    border: 2px solid rgb(5, 3, 3);
    border-radius: 20px 20px 20px 20px;
}

.total-tr{
  background-color: rgba(169, 169, 169, 0.089);
}

button {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #56baed;
    font-size: 15px;
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    border-radius: 5px;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #000000;
  font-weight:bold;
  background-color: #0d6efd;
  border-color: #000000;

}


  button:disabled{
    opacity: 0.5;
  }
  
  button:active {
    transform: scale(0.97);
  }
  input{
    margin-bottom: 10px;
  }
  #scroll{
    overflow-y:scroll;
  }

  .card-arrangement{
    background-color:#56B9B6;
  }

  .card-arrangement:hover {
    background-color: powderblue;
    transition: background-color .5s;
  }

  .modal-content{
    background-color:#56baed;
  }
  .btn-cose-bottom{
    background-color:  #0d6efd !important;    
  }


  .factura {
    table-layout: fixed;
  }
  
  .fact-info > div > h5 {
    font-weight: bold;
  }
  
  .factura > thead {
    border-top: solid 3px #000;
    border-bottom: 3px solid #000;
  }
  
  .factura > thead > tr > th:nth-child(2), .factura > tbod > tr > td:nth-child(2) {
    width: 300px;
  }
  
  .factura > thead > tr > th:nth-child(n+3) {
    text-align: right;
  }
  
  .factura > tbody > tr > td:nth-child(n+3) {
    text-align: right;
  }
  
  .factura > tfoot > tr > th, .factura > tfoot > tr > th:nth-child(n+3) {
    font-size: 24px;
    text-align: right;
  }
  
  .cond {
    border-top: solid 2px #000;
  }