<section class=" test container" *ngIf="this.loginService.isLogged() == 'coach'">
    <div class="col-12 row">
        <!-------------->
        <!--Button Add-->
        <!-------------->
        <div class="col-12 col-md-3 d-flex px-5 my-5 px-md-0 px-lg-3 my-md-0">
            <button class="col-12 m-auto" (click)="addNewArrangement()">Add new Arrangement</button>
        </div>

        <!---------------->
        <!-----Table------>
        <!---------------->
        <div class="col-12 col-md-9 table-responsive px-md-5">
            <table class="col-12 table table-hover text-center">
                <thead class="col-12">
                    <tr class="col-12">
                        <th class="col-2">Name</th>
                        <th class="col-2">Price</th>
                        <th class="col-2">Day</th>
                        <th class="col-2"></th>
                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="col-12" *ngFor="let a of arrangements">
                        <td class="col-2">{{a.name}}</td>
                        <td class="col-2">{{a.price}}</td>
                        <td class="col-2">{{a.amount_day}}</td>
                        <td class="col-2">
                            <img class="img-plan" [src]="a.img" alt="">
                        </td>
                        <td class="col-1">
                            <button (click)="editArrangement(a._id)">Edit</button>
                        </td>
                        <td class="col-1">
                            <button (click)="deleteArrangement(a._id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'coach'">
    <h1 class="col-12">PAGE NOT FOUND</h1>
    <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
    <img class="col-12 img-block" src="../../../../../assets/seguridad.jpg" alt="seguridad">
</section>
