<section *ngIf="this.loginService.isLogged() == 'coach' " class="col-12 d-flex row container-fluid" #dayRoutineForm>

    <div class="col-12 row text-center mt-4">
        <div class="col-md-8 mx-auto">
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="{{ step1 }}">
                            <a href="" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true"><span
                                    class="round-tab">1 </span> <i> Completar Formulario</i></a>
                        </li>
                        <li role="presentation" class="{{ step2 }}">
                            <a href="" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false"><span
                                    class="round-tab">2</span> <i> Seleccionar Rutinas</i></a>
                        </li>
                        <li role="presentation" class="{{ step3 }}">
                            <a href="" data-toggle="tab" aria-controls="step3" role="tab" aria-expanded="false"><span
                                    class="round-tab">3</span> <i> Guardar </i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<div *ngIf="form" class="row col-12">
    <div class="col-xl-3 d-xl-block d-none">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f847f340400159.577dcf3411820.gif"
            srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f847f340400159.577dcf3411820.gif 500w"
            sizes="(max-width: 400px) 100vw, 320px" alt="fitness workout Workoutanimation Work  excersise"
            loading="lazy">
    </div>
    <form class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto m-4 form-rout" #formRoutine="ngForm">
        <div class="text-center align-items-center">

            <h4 class="text-center mx-auto"> Formulario de Rutinas Mensuales </h4>
            <div class="col-10 py-1 mt-3 mx-auto">
                <label class="col-12 align-items-lg-start" for="id_objective">* Objetivo</label>
                <input class="col-12" type="text" name="objective" id="id_objective" [(ngModel)]="routineWork.objective"
                    required #objective="ngModel" />

                <div class="col-12 alert alert-danger"
                    *ngIf="objective.invalid && (objective.dirty || objective.touched)">
                    <div *ngIf="objective.errors.required">Objective is required</div>
                </div>
            </div>

            <div class="col-10 py-1 mt-2 mx-auto">
                <label class="col-12" for="id_intensity">* Intensity</label>
                <select class="col-10" id="id_intensity" name="intensity" [(ngModel)]="routineWork.intensity"
                    (change)="changeintensity()" required  #intensity="ngModel">
                    <option (value)="routineWork.intensity"> {{ routineWork.intensity }} </option>
                    <option *ngIf="routineWork.intensity != 'Baja' " value="Baja"> Baja </option>
                    <option *ngIf="routineWork.intensity != 'Media' " value="Media"> Media </option>
                    <option *ngIf="routineWork.intensity != 'Alta' " value="Alta"> Alta </option>
                </select>
            </div> 
            
            <div class="col-10 py-1 mt-2 mx-auto ">
                <label class="col-12" for="id_Day align-items-lg-start">* Cant Routines </label>
                <input class="col-12" type="text" disabled name="day" id="id_Day" [(ngModel)]="routineWork.day" required
                    #day="ngModel" />
                <div class="col-12 alert alert-danger" *ngIf="day.invalid && (day.dirty || day.touched)">
                    <div *ngIf="day.errors.required">Amount Routines is required</div>
                </div>
            </div>

            <div class="col-10 mx-auto">
                <label class="col-12 mt-2" for="id_arrangement">Arrangement</label>
                <select class="col-10" id="id_arrangement" name="arrangement" [(ngModel)]="arrangement"
                    (change)="changeArrangement()" required>
                    <option *ngFor="let a of arrangements" [ngValue]="a">
                        {{a.name}}
                    </option>
                </select>
            </div>

            <div class="row col-10 mt-3 mx-auto">
                <!-- <button class="col-12" *ngIf="action=='new'" [disabled]="formRoutine.invalid" (click)="registerDayRoutine(formRoutine)">Register</button>
                        <button class="col-12" *ngIf="action=='edit'" [disabled]="formRoutine.invalid" (click)="saveDayRoutine(formRoutine)">Save</button>-->
                <div class="col-2"></div>
                <button class="col-8" [disabled]="formRoutine.invalid || arrangement.amount_day == undefinided " (click)="step1Done()">Continue</button>
                <div class="col-2"></div>
            </div>

            <div class="row col-10 mt-2 mb-3 mx-auto">
                <div class="col-2"></div>
                <button class="col-8" (click)="returnDayRoutine()">Return</button>
                <div class="col-2"></div>
            </div>
        </div>
    </form>
    <div class="col-xl-3 d-xl-block d-none">
        <img class="" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f847f340400159.577dcf3411820.gif"
            srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f847f340400159.577dcf3411820.gif 500w"
            sizes="(max-width: 400px) 100vw, 320px" alt="fitness workout Workoutanimation Work  excersise"
            loading="lazy">
    </div>
</div>




    <div *ngIf="!form" class="col-11 mt-2 m-auto p-3 row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-10 mx-auto" *ngFor="let t of routines">
            <div class="btn card mt-3 col-11 mx-auto ms-1 px-0 card-animation" (click)="addRoutine(t)">
                <div class="col-10 mx-auto mt-2">
                    <h5 class="card-title">{{t.type}}</h5>
                    <img class="img-thumbnail card-img-top" [src]="t.training[0].img" alt="img" />
                    <div class="card-body">
                        <p class="card-text card-title">{{t.intensity}}</p>
                        <!-- <a class="btn mb-2 mt-2 px-4 float-end btn-class" >
                            select
                        </a>--->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <hr> 
            <div class="col-10 mx-auto row mt-3">
                <div class="col-5 row">
                    <p class="col-10 fw-bold fs-6">
                        Cantidad de Rutinas Asignadas : {{ routineWork.routine.length }}
                    </p>
                    <p class="col-10 fw-bold fs-6">
                        Cantidad de Rutinas por Asignar : {{ routineWork.day -  routineWork.routine.length }}
                    </p>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary my-auto col-3 mx-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ver
                    </button>
                   <button type="button" class="btn btn-secondary my-auto col-3 mx-4" [disabled]="routineWork.routine.length != routineWork.day" (click)=saveRoutineDay(formRoutine)>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>  
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Rutinas Asigndas  :  {{ routineWork.routine.length }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accumulator col-12">
                    <div class="row list-group-item outer">
                        <div class="inner" *ngFor="let pal of routineWork.routine; let i = index" [attr.data-index]="i">
                            <p class="bg-secondary text-white ps-2 mt-1 rounded-3">
                                {{pal.type}} {{pal.intensity}}
                                <button class="btn btn-close bg-secondary text-white mt-0 mb-0 p-0" (click)="deleteRoutine(i)">
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" (click)="clearArrayRoutine()" class="btn btn-secondary">Limpiar</button>
            </div>
        </div>
    </div>
</div>

<section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'coach'">
    <h1 class="col-12">PAGE NOT FOUND</h1>
    <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
    <img class="col-12" src="../../../../../assets/seguridad.jpg" alt="seguridad">
</section>
