<section class="container min-vh-100" *ngIf="this.loginService.isLogged() == 'coach'">
    <div class="col-10 mx-auto row pt-3 mb-4 mt-3" id="formUser">
        <div class="col-12 mt-2 mb-3">
            <h3 class="mx-auto text-center">
                User registration form
            </h3>
        </div>
        <div class="col-6 mt-2">
            <form class="col-12" #formSearch="ngForm">
                <div class="col-12 my-3">
                    <label class="col-12" for="id_type_user">Type user</label>
                    <select class="col-12" name="type_user" id="id_type_user" [(ngModel)]="value" required #type_user="ngModel">
                        <option value="coach">Coach</option>
                        <option value="student">Student</option>
                    </select>

                    <div class="col-12 alert alert-danger" *ngIf="type_user.invalid && (type_user.dirty || type_user.touched)">
                        <div *ngIf="type_user.errors.required">Type user is required</div>
                    </div>
                </div>

                <div class="col-12 my-3">
                    <label class="col-12" for="id_dni">Dni</label>
                    <input class="col-12" type="text" minlength="6" name="dni" id="id_dni" [(ngModel)]="dni" required #document="ngModel" />

                    <div class="col-12 alert alert-danger" *ngIf="document.invalid && (document.dirty || document.touched)">
                        <div *ngIf="document.errors.required">enter DNI</div>
                        <div *ngIf="document.errors.minlength">Must be 6 characters</div>
                    </div>
                </div>

                <div class="col-12 my-3 text-center">
                    <button class="btn btn-primary" [disabled]="formSearch.invalid" (click)="search()">Search</button>
                </div>
            </form>
        </div>

        <div class="col-6 mt-2">
            <form class="col-12" #formUser="ngForm">
                <div class="col-12 my-3">
                    <label class="col-12" for="id_user_name">User name</label>
                    <input class="col-12" type="text" name="user_name" id="id_user_name" disabled [(ngModel)]="user.user_name" />
                </div>

                <div class="col-12 my-3">
                    <label class="col-12" for="id_password">Password</label>
                    <input class="col-12" type="text" name="password" id="id_password" disabled [(ngModel)]="user.password" />
                </div>

                <div class="col-12 my-3 text-center">
                    <button class="btn btn-primary" [disabled]="!btnSearch" (click)="getPassword()">Get Password</button>
                </div>

                <div class="col-12 my-3 text-center">
                    <button class="btn btn-primary" [disabled]="!btnPassword" (click)="saveUser(formUser,formSearch)">Save new User</button>
                </div>
            </form>
        </div>
        <div class="row col-8 mx-auto">
            <div class="col-xl-4 col-md-4 col-sm-6 col-12 mb-5">
                <div class="card">
                    <img src="assets/imgicon/cur1.jpg" width="200" height="300" class="card-img-top img-student" alt="...">
                    <div class="card-body">
                        <h4 class="titulo">Gratuito</h4>
    
                        <p class="card-text">Certificados Oficiales .- </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12 mb-5">
                <div class="card">
                    <img src="assets/imgicon/cur2.jpg" width="200" height="300" class="card-img-top img-student" alt="...">
                    <div class="card-body">
    
                        <h4 class="titulo">Descuento por planilla</h4>
    
                        <p class="card-text">Con certificados de aprobación.-</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-6 col-12 mb-5">
                <div class="card">
                    <img src="assets/imgicon/cur3.jpg" width="200" height="300" class="card-img-top img-student" alt="...">
                    <div class="card-body">
    
                        <h4 class="titulo">Gratuito</h4>
    
                        <p class="card-text">Transmitido por You Tuve .-</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'coach'">
        <h1 class="col-12">PAGE NOT FOUND</h1>
        <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
        <img class="col-12" src="assets/seguridad.jpg" alt="seguridad">
</section>
