<section class="container" *ngIf="this.loginService.isLogged() == 'coach'">
    <div class="col-12 row">

        <div class="col-2">
            <button class="col-12 blue-light" (click)="addNewTraining()">Add new Training</button>
        </div>

        <div class="col-10 table-responsive text-center">
            <table class="col-12 table table-hover" [mfData]="trainings" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead class="col-12">
                    <tr class="col-12">
                        <th class="col-2">
                            <mfDefaultSorter by="type">Type</mfDefaultSorter>
                        </th>

                        <th class="col-2">
                            <mfDefaultSorter by="name">Name</mfDefaultSorter>
                        </th>

                        <th class="col-2">
                            <mfDefaultSorter>Video</mfDefaultSorter>
                        </th>

                        <th class="col-2">
                            <mfDefaultSorter>Img</mfDefaultSorter>
                        </th>

                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="col-12" *ngFor="let t of mf.data">
                        <td class="col-2">{{t.type}}</td>
                        <td class="col-2">{{t.name}}</td>
                        <td class="col-2">{{t.video}}</td>
                        <td class="col-2">
                            <img class="img-training" [src]="t.img" alt="img"/>
                        </td>
                        <td class="col-1">
                            <button class="white-light" (click)="editTraining(t._id)">
                                <img class="icon" src="../../../../../../../assets/imgSVG/edit.svg" alt=""/>
                            </button>
                        </td>
                        <td class="col-1">
                            <button class="red-light " (click)="deleteTraining(t._id)">
                                <img class="icon" src="../../../../../../../assets/imgSVG/x.svg" alt=""/>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

<section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'coach'">
    <h1 class="col-12">PAGE NOT FOUND</h1>
    <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
    <img class="col-12 img-block" src="../../../../../assets/seguridad.jpg" alt="seguridad">
</section>
