<section class="container" *ngIf="this.loginService.isLogged() == 'coach'">
    <div class="col-12 row">
        <div class="col-6">
            <div class="col-12 my-3">
                <button class="col-12 btn btn-outline-primary" (click)="searchWeekday()">Search Weekday Assistance</button>
            </div>

            <div class="col-12 my-3">
                <button class="col-12 btn btn-outline-primary" (click)="searchMonthly()">Search Monthly Assistance</button>
            </div>

            <div class="col-12 my-3">
                <button class="col-12 btn btn-outline-primary" (click)="searchMonthlyPayment()">Search Monthly Payment</button>
            </div>

            <div class="col-12 my-3">
                <button class="col-12 btn btn-outline-primary" (click)="clear()">Clear</button>
            </div>
        </div>

        <div class="col-6">
            <div class="col-12">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</section>

<section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'coach'">
    <h1 class="col-12">PAGE NOT FOUND</h1>
    <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
    <img class="col-12" src="../../../../../assets/seguridad.jpg" alt="seguridad">
</section>
