<section class="container" *ngIf="this.loginService.isLogged() == 'student'">
    <div class="col-12 row">
        <div class="col-8 col-md-9 table-responsive text-center m-auto">
            <table class="col-12 table table-hover" [mfData]="assistances" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead class="col-12">
                    <tr class="col-12">
                        <th class="col-2">
                            <mfDefaultSorter by="day">Day</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="col-12" *ngFor="let a of mf.data">
                        <td>{{a.day | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-2 m-auto">
            <button class="col-12 btn btn-primary" type="button" (click)="back()">BACK</button>
        </div>
    </div>
</section>

<section class="col-12 text-center" *ngIf="this.loginService.isLogged() != 'student'">
    <h1 class="col-12">PAGE NOT FOUND</h1>
    <h6 class="col-12">We're sorry. The page you are looking for cannot be found.</h6>
    <img class="col-12" src="../../../../../assets/seguridad.jpg" alt="seguridad">
</section>